*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.banner{
width: 100%;
height: 100vh;
background-color: rgb(0, 0, 0);
}
nav{
    display: flex;
    align-items: center;
justify-content: space-between;
padding-top: 45px;
padding-left: 8%;
padding-right: 8%;
}

ul li {
    list-style-type: none;
display: inline-block;
padding: 20px 25px;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
nav a {
    text-decoration: none;
}
.logo span,h1 span{
    color: rgb(215, 9, 95);
}
.btn{
    color: white;
    background-color:  rgb(215, 9, 95);
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: transform 0.4s;
}
.btn:hover{
    transform: scale(1.2);
}
nav ul li a:hover{
    color:  rgb(215, 9, 95);
    transition: 0.4s;
    
}

/***Content styling*****/

.content{
    padding-left: 8%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.content h4{
    color: rgb(242, 200, 216);
    letter-spacing: 2px;
    font-size: 20px;
}
.content h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 75px;
}
.content h3{
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}
.newsletter form{
max-width: 100%;
width: 380px;
position: relative;


}
.newsletter form input:first-child{

display: inline-block;
border: 2px solid   rgb(215, 9, 95);
outline: none;
width: 100%;
border-radius: 30px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 130px;

}
.newsletter form input:last-child{
position: absolute;
display: inline-block;
border: none;
outline: none;
padding: 10px 30px;
border-radius: 30px;
color: white;
background-color:  rgb(215, 9, 95);
box-shadow: 0 0 5px #000,0 0 15px #858585;
top: 6px;
right: 6px;
cursor: pointer;
}

/****About section styling***/
.about{
    background-color:  rgba(0, 0, 0, 0.908);
    width: 100%;
    height: 100vh;
}
.main{
    width:1300px ;
    max-width: 95%;
    display: flex;
  
    justify-content: space-around;
   
    margin: 0 auto;
    align-items: center;
}

.about-text{
    color: white;
    padding: 10px 10px;
}
.about-text h2{
    font-size: 75px;
    padding: 10px 0;
    text-transform: capitalize;
}
.about-text h4{
    font-size: 23px;
    padding: 10px 0;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.about-text h4 span {
    color: rgb(215, 9, 95);
}
.about-text p{
    line-height: 29px;
    padding: 10px 0;
   color: rgb(242, 200, 216);
   font-weight: 500;
   font-size: 18px;
   width: 600px;
}
.about-btn{
    padding: 10px 30px;
    color: white;
    background-color:rgb(215, 9, 95) ;
    border-radius: 25px;
    border: none;
margin-top: 40px;
transition: transform .4s;
cursor: pointer;
font-size: 16px;
text-transform: capitalize;
}

.about-btn:hover{
transform: scale(1.2);
}

/**Service section styling ***/

.services{
    width: 100%;
    height: 110vh;
    background-color:  rgb(0, 0, 0);
    color: white;
    padding: 60px 0;
    
}
.services h1{
    text-align: center;
 margin: 10px auto;
  font-size: 75px;
  text-transform: capitalize;
    
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(0, 0, 0);
}
.box{
    position: relative;
 padding: 20px 35px;
 margin: 20px;
 width: 340px;
 height: 380px;
 text-align: center;
 border-radius: 24px;
 background-color:  rgb(23 23 23) ;

   
}
.box i{
    font-size: 50px;
    color:rgb(215, 9, 95) ;
    margin-top: 20px;
}
.box h4{
    margin-top: 20px;
    font-size: 17px;
}
.box p{
    margin-top: 30px;
    line-height: 28px;
    margin-bottom: 20px;
    color: rgb(242, 200, 216);
}
.box button{
    text-decoration: none;
    color: white;
    background-color:rgb(215, 9, 95) ;
    padding: 10px 20px;
    border-radius: 20px;
    transition: transform .4s;
    border: none;
    cursor: pointer;
  
}
.box button:hover{
    transform: scale(1.2);
}

/***contact me styling ****/

.contact{
    background-color:   rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
}

.hire{
    width: 100%;
    background-color: rgb(23 23 23)  ;
    height: 270px;
    color: white;
    text-align: center;
}

.hire h2{
    font-size: 26px;
    text-transform: capitalize;
    padding-top: 90px;
    padding-bottom: 30px;
}
.btn-hire{
    text-decoration: none;
    color: white;
   background-color:rgb(215, 9, 95) ;
   padding: 10px 25px;
   border-radius: 20px;
   transition: transform .4s;
   border:none;
   cursor: pointer;
}
.btn-hire:hover{
    transform: scale(1.2);
}

/*** footer styling ***/


.footer{
    height:50vh ;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.footer h2{
font-size: 40px;
padding-bottom: 20px;
}
.footer p{
    margin-bottom: 20px;
}
.footer i{
    margin-right: 17px;
    font-size: 40px;
}

.linkedin i {
    color: rgb(52, 52, 178);
    opacity: 0.7;
}

.whatsapp i{
    background-color: rgb(35, 187, 35);
    color: white;
    border-radius: 40px;
    padding: 7px 7px; 
}
.github i{
    background-color: transparent;
    color: #858585;
   
    border-radius: 80px;
    padding: 7px; 
}
.github i:hover{
    background-color:  #858585;
    color: black;
    transform: scale(1.2);
}
.linkedin i:hover{
    opacity: 1;
    transform: scale(1.2);
}
.whatsapp i:hover{
    transform: scale(1.2);
}